.logo {
	 float: left;
}
nav {
	float: right;
	font-size: large;
}
nav ul {
	list-style:none
}
nav li {
	display:inline-block;
}
body {
	background: white;
	color: #fff;
}
a {
	color: #0f0f0f
}
h1 {
	color: black
}
p {
	color: black
}
ul {
	color: black
}
.header {
	display:flex ;
	flex-direction: row ;
	justify-content: space-around;
	margin-top: 20px;
}
.links-container {
	align-self: center
}
li a {
	padding-left: 10px;
  }